<div class="min-h-screen bg-white text-black dark:bg-neutral-900 dark:text-neutral-100 flex flex-col items-center">
	<div class="flex flex-col mt-32">
		<span class="font-semibold text-4xl uppercase">Alexander Grist-Hucker</span>
		<span class="ml-20 uppercase">Software Developer</span>
	</div>
</div>
